
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.unauthorized{
    color: red;
}

.trusted{
    color: green;
}


.responsive-link a {
    text-decoration: none;
    color: rgb(3, 102, 214);
    font-weight: 600;
}


.responsive-link a:hover {
text-decoration: underline;
}
